.main {
  width: 400px;
  height: 400px;
  color: black;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255, 0.1),
    rgb(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37);
  border: 1px solid rgb(255, 255, 255, 0.18);
  border-radius: 15px;
}
.incredecre {
  margin-top: 10%;
  display: flex;
  gap: 90px;
}
h5 {
  font-weight: 50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  margin-bottom: 5px;
  color: gray;
  
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 30;
  
}
button img {
  width: 15px;
  
}
.time {
  border-radius: 50%;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border: 6px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 8px 32px 0 rgb(0, 0, 0, 0.37);
}

.player {
  
  border-radius: 50%;
  margin-top: 5%;
  display: flex;
  gap: 10%;
  
  
}
.pause {
  display: none;
}
.reset {
  display: none;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
@media (max-width: 900px) {
  .main {
    margin-top: 40%;
    width: 80vw;
  }
}
